<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Water Dispensing System{% endblock %}</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx-ext-sse@2.2.2/sse.js"></script>
  <script src="//unpkg.com/alpinejs" defer></script>
</head>
<body>
  <nav class="navbar">
    <div class="nav-brand">
      <img src="/static/IDro_logo.png" alt="IDro" style="height:50px;width:auto;background:#BFD2EE;border-radius:8px;padding:2px 4px;">
    </div>
    <div class="nav-links">
      <a href="/" class="nav-link {% block nav_home %}{% endblock %}">Home</a>
      <a href="/resident/login" class="nav-link {% block nav_resident %}{% endblock %}">My Account</a>
      <a href="/admin" class="nav-link {% block nav_admin %}{% endblock %}">Admin</a>
    </div>
  </nav>

  <div id="toast"></div>

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <footer class="footer">
    <p>Team 18 &mdash; Water Dispensing System &mdash; CS 145</p>
  </footer>
</body>
</html>
